* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.app-title {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.search-bar {
    text-align: center;
    margin-top: 20px;
}

#cityInput {
    height: 40px;
    width: 300px;
    font-size: 18px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#searchButton {
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

#searchButton:hover {
    background-color: #0056b3;
}

.daily-forecast {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forecast-card {
    flex: 1;
    padding: 10px;
    border: 1px solid #4f4a4a;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    background-color: #d8bdbd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forecast-card h3 {
    font-size: 20px;
}

.forecast-card p {
    font-size: 16px;
}
