body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#searchInput {
    flex-grow: 1;
    padding: 10px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    width: 300px;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h2 {
    margin: 10px 0;
}

.product-card p {
    font-weight: bold;
    margin: 10px 0;
}

.select {
    padding: 10px;
}
